Daniel Murphy <yebblies@gmail.com> yebblies <yebblies@gmail.com>
Hara Kenji <k.hara.pg+dev@gmail.com> k-hara <k.hara.pg@gmail.com>
Iain Buclaw <ibuclaw@gdcproject.org> ibuclaw <ibuclaw@ubuntu.com>
Kai Nacke <kai@redstar.de> kai <kai@redstar.de>
Martin Nowak <code@dawg.eu> dawg <dawg@dawgfoto.de>
Mathias Lang <mathias.lang@sociomantic.com> Geod24 <pro.mathias.lang@gmail.com>
