# See also:
# - https://github.com/blog/2392-introducing-code-owners
# - https://help.github.com/articles/about-codeowners/

# Each line is a file pattern followed by one or more owners (sorted alphabetically).
# Please feel free to add yourself to a module or create a new mapping.
# Ideally each module should have two or more owners.

# Code owners are automatically requested for review
# when someone opens a pull request that modifies code that they own.
# Later matches take precedence.

compiler/src/dmd/access.d @MartinNowak
compiler/src/dmd/astbase* @RazvanN7
compiler/src/dmd/astcodegen.d @RazvanN7
compiler/src/dmd/asttypename.d @UplinkCoder
compiler/src/dmd/attrib.d @Geod24
compiler/src/dmd/builtin.d @dnadlinger @WalterBright
compiler/src/dmd/cond.d @Geod24
compiler/src/dmd/console.d @CyberShadow
compiler/src/dmd/cppmangle.d @ibuclaw @Geod24
compiler/src/dmd/cparse.d @ibuclaw @WalterBright
compiler/src/dmd/ctfeexpr.d @UplinkCoder
compiler/src/dmd/doc.d @andralex @jacob-carlborg
compiler/src/dmd/dscope.d @Geod24
compiler/src/dmd/hdrgen.d @UplinkCoder @WalterBright
compiler/src/dmd/iasm.d @ibuclaw @WalterBright
compiler/src/dmd/iasmdmd.d @WalterBright
compiler/src/dmd/iasmgcc.d @ibuclaw
compiler/src/dmd/mars.d @MartinNowak @Geod24 @rainers @UplinkCoder @WalterBright
compiler/src/dmd/objc* @jacob-carlborg
compiler/src/dmd/permissivevisitor.d @RazvanN7
compiler/src/dmd/target.d @ibuclaw @MartinNowak
compiler/src/dmd/transitivevisitor.d @RazvanN7
compiler/src/dmd/vcbuild @rainers

# D Runtime
druntime/* @andralex @wilzbach @JackStouffer

druntime/src/checkedint.d @redstar @andralex @JackStouffer

druntime/src/core/atomic.d @WalterBright @ibuclaw @TurkeyMan
druntime/src/core/attribute.d @jacob-carlborg
druntime/src/core/bitop.d @schveiguy @tsbockman @Geod24
druntime/src/core/cpuid.d @WalterBright @ibuclaw @JackStouffer
druntime/src/core/demangle.d @WalterBright @MartinNowak @rainers @ibuclaw
druntime/src/core/exception.d @MartinNowak @WalterBright @jmdavis @CyberShadow
druntime/src/core/internal @MartinNowak @schveiguy
druntime/src/core/int128.d @WalterBright
druntime/src/core/math.d @ibuclaw @redstar
druntime/src/core/runtime.d @MartinNowak @Abscissa
druntime/src/core/simd.d @WalterBright @MartinNowak
druntime/src/core/stdc/* @schveiguy @ibuclaw
druntime/src/core/stdcpp/* @WalterBright @Darredevil @TurkeyMan
druntime/src/core/sync/* @MartinNowak @Geod24 @WalterBright @PetarKirov
druntime/src/core/sys/bionic/* @joakim-noah
druntime/src/core/sys/darwin/* @jacob-carlborg @dnadlinger @etcimon @MartinNowak
druntime/src/core/sys/freebsd/* @redstar @MartinNowak @Calrama @jmdavis
druntime/src/core/sys/linux/* @Burgos @redstar @MartinNowak
druntime/src/core/sys/netbsd/* @nrTQgc @joakim-noah
druntime/src/core/sys/dragonflybsd/* @dkgroot
druntime/src/core/sys/openbsd/* @redstar @ibara
druntime/src/core/sys/posix/* @CyberShadow @MartinNowak @joakim-noah @redstar
druntime/src/core/sys/solaris/* @redstar
druntime/src/core/sys/windows/* @CyberShadow
druntime/src/core/thread.d @MartinNowak @Burgos @jpf91 @PetarKirov
druntime/src/core/time.d @jmdavis @schveiguy @CyberShadow

druntime/src/etc* @deadalnix @MartinNowak
druntime/src/core/internal/gc/* @rainers @DmitryOlshansky @MartinNowak @llucax

druntime/src/object.d @andralex @MartinNowak

druntime/src/rt/deh_win32.d @WalterBright
druntime/src/rt/dwarfeh.d @WalterBright
druntime/src/rt/lifetime.d @rainers @schveiguy @Burgos
druntime/src/rt/minfo.d @schveiguy
druntime/src/rt/msvc* @rainers
druntime/src/rt/sections_android.d @joakim-noah
druntime/src/rt/sections_win* @rainers @CyberShadow
druntime/src/rt/sections_osx* @jacob-carlborg @dnadlinger
druntime/src/rt/sections_elf_shared* @Burgos
druntime/src/rt/typeinfo/* @Geod24 @WalterBright @redstar
druntime/src/rt/util/* @MartinNowak @WalterBright @dnadlinger

druntime/src/test_runner.d @atilaneves @wilzbach @MartinNowak @andralex

# GitHub's implementation of the CODEOWNERS format is buggy, it doesn't allow src/dmd/*.h
*.h @ibuclaw @dnadlinger

# CI & automation
posix.mak @MartinNowak @wilzbach
src/posix.mak @MartinNowak @wilzbach
circle.sh @MartinNowak @wilzbach
